<section id="explore">
  <div class="container">
    <h1 class="text-center text-white title">EXPLORE</h1>
    <div class="row">
      <div class="col-md-6 text-center">
        <img src="assets/images/astro.png" class="rounded mx-auto d-block img-fluid" alt="">
      </div>
      <div class="col-md-6 text-center">
        <h1 class="text-white sub-title">Explore the space through the NASA's API!</h1>
        <a href="https://api.nasa.gov/" target="_blank" class="btn btn-info btn-lg mt-5">More About NASA's API</a>
      </div>
    </div>
  </div>
</section>

