<section id="maps">
  <div class="container">
    <h1 class="text-center text-white title" id="map">MAPS</h1>
    <div class="row">
      <div class="col-md-6 text-center">
        <img src="assets/images/moon.png" class="rounded mx-auto d-block img-fluid" alt="">
        <a class="btn btn-info btn-lg mt-5" routerLink='moon'>Moon Map</a>
      </div>
      <div class="col-md-6 text-center">
        <h1>MOON</h1>
        <p>The Moon is an astronomical body orbiting Earth as its only natural satellite. It is the fifth-largest satellite in the Solar System, and by far the largest among planetary satellites relative to the size of the planet that it orbits.</p>
      </div>
    </div>
      <div class="row mt-5">
        <div class="col-md-6 text-center">
          <h1>MARS</h1>
          <p>Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System after Mercury. In English, Mars carries a name of the Roman god of war and is often referred to as the 'Red Planet'.</p>
        </div>
        <div class="col-md-6 text-center">
          <img src="assets/images/mars.png " class="rounded mx-auto d-block img-fluid" alt="">
          <a class="btn btn-info btn-lg mt-5" routerLink='mars'>Mars Map</a>
        </div>
      </div>
    <div class="row mt-5">
      <div class="col-md-6 text-center">
        <img src="assets/images/vesta.png" class="rounded mx-auto d-block img-fluid" alt="">
        <a class="btn btn-info btn-lg mt-5" routerLink='vesta'>Vesta Geology Map</a>
      </div>
      <div class="col-md-6 text-center">
       <h1>VESTA</h1>
       <p>Vesta is one of the largest objects in the asteroid belt, with a mean diameter of 525 kilometres. It was discovered by the German astronomer Heinrich Wilhelm Matthias Olbers on 29 March 1807 and is named after Vesta, the virgin goddess of home and hearth from Roman mythology.</p>
      </div>
    </div>
  </div>
</section>
